vendor/
**/*.log
**/*.sqlite
.idea/
.DS_Store
bin/
tmp/
.vscode/
.env
bin/imagor
profile.cov

.claudesync
repomix-output.xml

vips
debug_enums.json
debug_operations.json
debug_image_types.json
dancing-banana.gif
